<style type="text/css">
	.btn {
		margin-top: 10px;
	}
	.jumbotron {
		padding: 50px 20px 70px 20px;
		/*border-radius: 3px;*/
	}
	.form-control {
		border-radius: 2px;
	}
</style>

<section>
	<div class="container" align="center">
		<div class="col-md-9 col-12" align="center">
            <h1>Official Login</h1>
            <p>Login as an official to gain access to certain actions.</p>
            <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
            <div class="cargo-info col-12 col-md-8">
                <div class="jumbotron bg-light text-dark border border-dark">
	                <p>Username : <%= f.text_field :username, class: "form-control form-control-sm border-dark", required: true %></p>
	                <p>Password : <%= f.password_field :password, class: "form-control form-control-sm border-dark", required: true %></p>
	                <%= f.submit "Log in", class: 'btn btn-success col-12' %> 
                </div>
            </div>
            <% end %>
        </div>
	</div>
</section>