/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "custom.css";
@import "toggler.css";
@import "deliver.css";

body {
    letter-spacing: -0.3px;
}

input {
    letter-spacing: -0.3px;
    padding: 8px 15px; 
    border-radius: 0px;
    border: none;
    border: 1px solid black;
}

form input {
    margin: 3px 0;
}

/* Navigation Bar */

.navbar {
    background-color: white;
    border-bottom: 2px solid black;
    position: fixed;
}

.navbar-brand {
    text-decoration: none;
    color: black;
}

.nav-link {
    padding: 10px;
    margin: 0 5px;
    font-size: 13.5px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: -0.3px;
    border-radius: 5px;
    transition: 0.2s;
}

.nav-link:hover {
    color: white;
    background-color: black;
    transform: scale(1.08);
}

#btnFullscreen:hover {
    background-color: transparent;
    transform: scale(1.5);
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: auto 0;
}

.btn {
    font-weight: 100;
    padding: 8px 14px;
    margin: 0 5px;
    border-radius: 3px;
}

